{
  "dev": {
    "clientId": "",
    "clientSecret": "",
    "redirectUrl": "",
    "scope": "openid onecta:basic.integration",
    "Security": {
      "Auth": {
        "daikin": {
          "Type": "OAuth2",
          "Grant Type": "Authorization Code",
          "Client ID": "",
          "Client Secret": "",
          "Redirect URL": "",
          "Scope": "openid onecta:basic.integration",
          "Auth URL": "https://idp.onecta.daikineurope.com/v1/oidc/authorize",
          "Token URL": "https://idp.onecta.daikineurope.com/v1/oidc/token"
        }
      }
    }
  }
}
